:root {
  --cyan-str: hsl(172, 67%, 45%);
  --cyan-drk: hsl(183, 100%, 15%);
  --cyan-drk-gry: hsl(186, 14%, 43%);
  --cyan-gry: hsl(184, 14%, 56%);
  --cyan-lght-gry: hsl(185, 41%, 84%);
  --cyan-vry-light: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --fz-form: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Space Mono", sans-serif;
  background-color: var(--cyan-lght-gry);
}

.container {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.logo {
  align-self: center;
  margin: 3em 0;
}

.calculator-cont {
  height: inherit;
  padding-top: 3em;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: var(--white);
}

.label-bill-amount,
.tip-percent,
.label-number-people,
.tip-amount-text {
  font-size: 1.6rem;
}

/*  CALCULATOR SEC*/
