:root {
  --cyan-str: hsl(172, 67%, 45%);
  --cyan-drk: hsl(183, 100%, 15%);
  --cyan-drk-gry: hsl(186, 14%, 43%);
  --cyan-gry: hsl(184, 14%, 56%);
  --cyan-lght-gry: hsl(185, 41%, 84%);
  --cyan-vry-light: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --fz-form: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  background-color: var(--cyan-lght-gry);
}

.container {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.logo {
  align-self: center;
  margin: 4em 0;
}

.calculator-cont {
  display: flex;
  flex-direction: column;
  height: inherit;
  gap: 4em;
  padding-top: 3em;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: var(--white);
}

.label-bill-amount,
.tip-percent,
.label-number-people,
.tip-amount-text {
  font-size: 1.6rem;
}

/*  CONTAINERS*/
.calculator {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin-top: 3em;
}

.bill,
.number-people-box,
.tip-box,
.tip-amount-text-cont {
  display: flex;
  flex-direction: column;
}

.bill,
.number-people-box {
  gap: 1em;
}

.tip-number-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tip-amount,
.total {
  display: flex;
  justify-content: space-between;
}

.tip-percent {
  margin-bottom: 0.5em;
}

.tip-box {
  gap: 2.5em;
}

.tip-amount-text-cont {
  gap: 0.3em;
}

.tip-box {
  background-color: var(--cyan-drk);
  padding: 2em 1.5em;
  border-radius: 1.5em;
}

.calculator-cont {
  padding: 0 3.2em;
}
/* Styling Div with Calculator Class elements */
.label-bill-amount {
  color: var(--cyan-drk-gry);
}

#bill-amount {
  border: none;
  font-family: "Space Mono", sans-serif;
  font-size: var(--fz-form);
  color: var(--cyan-drk);
  border-radius: 5px;
  text-align: right;
  background-color: var(--cyan-vry-light);
  background-image: url("images/icon-dollar.svg");
  background-position-y: center;
  background-position-x: 0.5em;
  background-repeat: no-repeat;
  padding: 0.3em 0.6em;
}

#bill-amount::placeholder {
  color: var(--cyan-gry);
}
#bill-amount:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem hsl(172, 67%, 45%);
}

.tip-percent {
  color: var(--cyan-drk-gry);
}

.tip-number-cont {
  column-gap: 1.7em;
  row-gap: 1.6em;
}

.tip-number {
  text-align: center;
  font-size: var(--fz-form);
  color: var(--white);
  background-color: var(--cyan-drk);
  border-radius: 5px;
  padding: 0.3em 0;
}

.custom-form {
  display: grid;
}
#custom {
  border: none;
  text-align: right;
  color: var(--cyan-drk);
  border-radius: 5px;
  background-color: var(--cyan-vry-light);
  width: 100%;
  font-family: "Space Mono", sans-serif;
  font-size: var(--fz-form);
  padding: 0 0.5em;
}

#custom:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem hsl(172, 67%, 45%);
}

#custom::placeholder {
  color: #192424;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: var(--fz-form);
}

/*Styling for number-people-box form elements  */
.label-number-people {
  color: var(--cyan-drk-gry);
}

#number-people {
  border: none;
  font-family: "Space Mono", sans-serif;
  font-size: var(--fz-form);
  color: var(--cyan-drk);
  border-radius: 5px;
  text-align: right;
  background-color: var(--cyan-vry-light);
  background-image: url("images/icon-person.svg");
  background-position-y: center;
  background-position-x: 0.5em;
  background-repeat: no-repeat;
  padding: 0.3em 0.6em;
}

#number-people::placeholder {
  color: var(--cyan-gry);
}
#number-people:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem hsl(172, 67%, 45%);
}

/* Styling tip-box elements */
.tip-amount-text {
  color: var(--white);
}

.per-person-text {
  font-size: 1.3rem;
  color: var(--cyan-gry);
}

.currency-text {
  font-size: 3.2rem;
  color: var(--cyan-str);
}

.reset {
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", sans-serif;
  font-size: 2rem;
  background-color: var(--cyan-str);
  color: var(--cyan-drk);
  padding: 0.5em 0;
}

/* styling on click*/
.clicked.tip-number {
  background-color: var(--cyan-str);
  color: var(--cyan-drk);
}
